<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".RemoveLink").click(function () {
            var id = $(this).attr("data-id");
            var vendorCode = $(this).attr("data-vendorCode");
            url = "@Url.Action("DelteOrderItem", "AdminOrder")?orderId=" + id + "&vendorCode=" + vendorCode;
            $('#result').load(url);
        });

        $(".add-order-product").click(function () {
            var id = $(this).attr("data-id");
            var vendorCode = $(".vendore-code").val();
            url = "@Url.Action("AddItemToOrder", "AdminOrder")?orderId=" + id + "&vendorCode=" + vendorCode;
            $('#result').load(url);
        });
    })
</script>

@model TechnoTent.Models.ViewModel.OrderVM

<div id="result">
    <main class="main-admin">
        <aside class="admin-sidebar">
            <section class="sidebar">
                <ul class="sidebar__list" data-widget="tree">
                    <li class="sidebar__item" style="height: 37px;"></li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/mainImages">
                            <i class="fas fa-images"></i>
                            <span>Нстройки галереи</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/orders">
                            <i class="fas fa-book-open"></i>
                            <span>Заказы</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/categories">
                            <i class="fas fa-list"></i>
                            <span>Категории</span>
                        </a>
                    </li>
                    @{
                        Html.RenderAction("GetCategoriesAndSubCategoriesForAdmin", "Partial");
                    }
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/add/item/">
                            <i class="fas fa-plus"></i>
                            <span>Добавить товар</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/news">
                            <i class="far fa-newspaper"></i>
                            <span>Статьи</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/news/add">
                            <i class="fas fa-plus"></i>
                            <span>Добавить статью</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/stocks">
                            <i class="far fa-money-bill-alt"></i>
                            <span>Акции</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/stocks/add">
                            <i class="fas fa-plus"></i>
                            <span>Добавить акцию</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/reviews">
                            <i class="fas fa-comments"></i>
                            <span>Отзывы</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/about">
                            <i class="fas fa-id-card"></i>
                            <span>Информация о компании</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/contacts">
                            <i class="fas fa-id-card"></i>
                            <span>Контактная информация</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/partners">
                            <i class="far fa-handshake"></i>
                            <span>Партнёры компании</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/prices">
                            <i class="fas fa-tags"></i>
                            <span>Прайсы</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="admin-content-wrapper">
            <section class="admin-content-header">
                <h1 class="admin-page__title">
                    Редактирование заказа №
                    <small>@Model.Id</small>
                </h1>
            </section>
            <section class="admin-content-main">
                @using (Html.BeginForm("EditOrder", "AdminOrder", FormMethod.Post, new { @class = "product-edit", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="order-edit__wrapper">
                        <label class="edit__title">Статус заказа</label>
                        <select class="order-status" id="order-status" name="OrderStatus">
                            <option class="order-status__item" value="in processing">В обработке</option>
                            <option class="order-status__item" value="in progress">Выполняется</option>
                            <option class="order-status__item" value="completed">Выполнен</option>
                            <option class="order-status__item" value="fail">Отказ</option>
                        </select>
                        <div class="status-dropdown">
                            <div class="status-toggle btn btn-warning">@Model.OrderStatus</div>
                            <ul class="status__list" style="display: none;">
                                <li class="status__item btn btn-warning" value="1">В обработке</li>
                                <li class="status__item btn btn-primary" value="2">Выполняется</li>
                                <li class="status__item btn btn-success" value="3">Выполнен</li>
                                <li class="status__item btn btn-danger" value="4">Отказ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="order-edit__wrapper">
                        <label class="edit__title">Статус оплаты</label><br>
                        <select class="payment-status" name="">
                            <option class="payment-status__item" value="paid">Не оплачено</option>
                            <option class="payment-status__item" value="not_paid">Оплачено</option>
                        </select><br>
                    </div>
                    <div class="order-edit__wrapper">
                        <label class="edit__title">Способ оплаты</label><br>
                        <select class="payment-method" name="PaymentMethod">
                            <option class="payment-method__item" value="cashless">На карту Приват банка</option>
                            <option class="payment-method__item" value="in_cash">Оплата при получении</option>
                        </select>
                    </div>
                    <div class="order-edit__wrapper">
                        <label class="edit__title">Срособ доставки</label><br>
                        <select class="delivery-status" name="DeliveryMethod">
                            <option class="delivery-method__item" value="pickup">Самовывоз</option>
                            <option class="delivery-method__item" value="nova_poshta">Новая почта</option>
                            <option class="delivery-method__item" value="intime">Ин тайм</option>
                        </select><br>
                    </div>
                    <label class="edit__title">Информация для доставки</label>
                    <div class="order-edit__wrapper">
                        <label class="edit__title">Имя и фамилия</label><input type="text" name="UserName" class="input-order-edit" required value="@Model.UserName">
                    </div>
                    <div class="order-edit__wrapper">
                        <label class="edit__title">Мобильный телефон</label><input type="tel" name="UserPhone" class="input-order-edit" required value="@Model.UserPhone">
                    </div>
                    <div class="order-edit__wrapper">
                        <label class="edit__title">Эл. почта</label><input type="email" name="UserEmail" class="input-order-edit" required value="@Model.UserEmail">
                    </div>
                    <div class="order-edit__wrapper">
                        <label class="edit__title">Город</label><input type="text" name="DeliveryCity" class="input-order-edit" value="@Model.DeliveryCity">
                    </div>
                    <div class="order-edit__wrapper">
                        <label class="edit__title">Номер склад</label><input type="text" name="DeliveryOffice" class="input-order-edit" value="@Model.DeliveryOffice">
                    </div>
                    <label class="edit__title">Заказ</label>
                    if (Model.Items.Count != 0)
                    {
                        <div class="order-edit__wrapper">
                            <ul class="catalog__list">
                                @for (int i = 0; i < Model.Items.Count; i++)
                                {
                                    <li class="col-3">

                                        <div class="catalog__item">
                                            <div class="catalog__item-wrapper">
                                                <a class="catalog__item-link" href="/">
                                                    <img class="catalog__item-img" src="~/Content/images/items/@Model.Items[i].ItemImages">
                                                    <h3 class="catalog__item-title">@Model.Items[i].ItemName</h3>
                                                    <div class="catalog__item-price-wrapper">
                                                        @if (Model.OrderLanguage == "ru" || Model.OrderLanguage == "ua")
                                                        {
                                                            <span class="catalog__item-price">@Model.Items[i].ItemPrice грн./кв.м</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="catalog__item-price">@Model.Items[i].ItemPrice $./кв.м</span>
                                                        }
                                                    </div>
                                                </a>
                                                <div class="product-count">
                                                    <div class="product-count__title">Количество:</div>
                                                    <div class="product-count__content">
                                                        <button type="button" class="change-quantity quantity-minus" title="Уменьшить">
                                                            <svg width="10" height="15.53" viewBox="0 0 10 15.53">
                                                                <path class="btn-in__path" d="M0.16,7.31L7.31,0.16A0.49,0.49,0,0,1,7.77,0a1.09,1.09,0,0,1,.46.15L9.85,1.78a0.82,0.82,0,0,1,.15.46,1.09,1.09,0,0,1-.15.46L4.7,7.85l5.15,5a1.09,1.09,0,0,1,.15.46,1.09,1.09,0,0,1-.15.46L8.23,15.38a1.09,1.09,0,0,1-.46.15,1.09,1.09,0,0,1-.46-0.15L0.16,8.23A0.49,0.49,0,0,1,0,7.77,1.09,1.09,0,0,1,.16,7.31Z"></path>
                                                            </svg>
                                                        </button>
                                                        @Html.TextBox("Items[" + i + "].ItemCount", Model.Items[i].ItemCount, new { @class = "input_quantity-value", value = "2.5", data_type = "area", data_width = "2.5" })
                                                        <input type="text" name="@Model.Items[i].ItemCount" class="input_quantity-value" value="2.5" data-type="area" data-width="2.5"> <!-- тип: piece - поштучно / area - м2    || value зависит от типа товара-->
                                                        <button type="button" class="change-quantity quantity-plus" title="Увеличить">
                                                            <svg class="btn-in__icon" width="10" height="15.53" viewBox="0 0 10 15.53">
                                                                <path class="btn-in__path" d="M9.84,8.22L2.69,15.37a0.49,0.49,0,0,1-.46.15,1.09,1.09,0,0,1-.46-0.15L0.15,13.76A0.82,0.82,0,0,1,0,13.3a1.09,1.09,0,0,1,.15-0.46L5.3,7.69l-5.15-5A1.09,1.09,0,0,1,0,2.23,1.09,1.09,0,0,1,.15,1.77L1.77,0.15A1.09,1.09,0,0,1,2.23,0a1.09,1.09,0,0,1,.46.15L9.84,7.3a0.49,0.49,0,0,1,.15.46A1.09,1.09,0,0,1,9.84,8.22Z"></path>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                    <div class="product-count__type-value">кв.м</div>

                                                    <div class="product-count__desc">Минимальный заказ 2.5 кв.м</div>
                                                </div>
                                                <div class="catalog__item-extra-info-wrapper">
                                                    <div class="catalog__item-extra-info">
                                                        <div class="catalog__item-attr">
                                                            Код товара: @Model.Items[i].ItemVendorCode
                                                        </div>
                                                        <div class="catalog__item-descr">
                                                            ПВХ 450г/м2-производитель Турция  TM Branda | Покрытие: двухсторонее | Ширина: 2,5м
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="delete-order-product RemoveLink" data-id="@Model.Id" data-vendorCode="@Model.Items[i].ItemVendorCode">
                                                <i class="fas fa-times"></i>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    <div class="add-order-product__title">Добавить товар к заказу</div>
                    <div class="order-edit__wrapper add-order-product__wrapper" style="display: none;">
                        <label class="edit__title">Код товара</label><input type="text" class="input-order-edit vendore-code" required disabled="">
                        <button type="button" class="btn btn-success add-order-product" data-id="@Model.Id">Добавить товар</button>
                    </div>
                    <div class="order-edit__wrapper">
                        <label class="edit__title">Цена</label><input type="text" name="price" class="input-order-edit">
                        <label class="edit__text">грн.</label>
                    </div>
                    <div class="order-edit__wrapper">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                        <a href="/admin/orders" class="btn btn-secondary">Отмена</a>
                    </div>
                }
            </section>
        </div>
    </main>
</div>