@model List<TechnoTent.Models.ViewModel.PricesVM>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".RemoveLink").click(function () {
            var id = $(this).attr("data-id");
            url = "@Url.Action("DeletePrices", "AdminPrices")?id=" + id;
            $('#result').load(url);
        });
    })
</script>

@section AdminHeader
{
    <header class="admin-header">
        <a href="/" class="admin-header__logo">
            <span class="logo-lg"><b>Админ</b> панель</span>
        </a>
        <nav class="navbar-header-top">
            <a href="#" class="settings navbar-header__toggle"><i class="fa fa-cogs" aria-hidden="true"></i></a>
            <ul class="navbar-header__list" style="display: none;">
                <li class="navbar-header__item">
                    <a href="/admin"><i class="fas fa-cog"><span>Настройки</span></i></a>
                </li>
                <li class="navbar-header__item">
                    <a href="/admin/logout"><i class="fas fa-sign-out-alt"><span>Выйти</span></i></a>
                </li>
            </ul>
        </nav>
    </header>
}

<div id="result">
    <main class="main-admin">
        <aside class="admin-sidebar">
            <section class="sidebar">
                <ul class="sidebar__list" data-widget="tree">
                    <li class="sidebar__item" style="height: 37px;"></li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/mainImages">
                            <i class="fas fa-images"></i>
                            <span>Нстройки галереи</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/orders">
                            <i class="fas fa-book-open"></i>
                            <span>Заказы</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/categories">
                            <i class="fas fa-list"></i>
                            <span>Категории</span>
                        </a>
                    </li>
                    @{
                        Html.RenderAction("GetCategoriesAndSubCategoriesForAdmin", "Partial");
                    }
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/add/item/">
                            <i class="fas fa-plus"></i>
                            <span>Добавить товар</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/news">
                            <i class="far fa-newspaper"></i>
                            <span>Статьи</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/news/add">
                            <i class="fas fa-plus"></i>
                            <span>Добавить статью</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/stocks">
                            <i class="far fa-money-bill-alt"></i>
                            <span>Акции</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/stocks/add">
                            <i class="fas fa-plus"></i>
                            <span>Добавить акцию</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/reviews">
                            <i class="fas fa-comments"></i>
                            <span>Отзывы</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/about">
                            <i class="fas fa-id-card"></i>
                            <span>Информация о компании</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/contacts">
                            <i class="fas fa-id-card"></i>
                            <span>Контактная информация</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/partners">
                            <i class="far fa-handshake"></i>
                            <span>Партнёры компании</span>
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="/admin/prices">
                            <i class="fas fa-tags"></i>
                            <span>Прайсы</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="admin-content-wrapper">
            <section class="admin-content-header">
                <h1 class="admin-page__title">
                    Управление прайсом
                </h1>
            </section>
            <section class="admin-content-main">
                <section class="admin-content-main">
                    <table class="price-table">
                        <tr>
                            <th>
                                Номер
                            </th>
                            <th>
                                Файл
                            </th>
                            <th>
                                Упарвление
                            </th>
                        </tr>
                        @foreach (var price in Model)
                        {
                            <tr>
                                <th>
                                    @price.Id
                                </th>
                                <th>
                                    <a href="~/Content/prices/@price.FilePath">@price.Name</a>
                                </th>
                                <th>
                                    <button type="button" class="btn btn-danger RemoveLink" data-id="@price.Id">
                                        <i class="fas fa-trash-alt"></i> Удалить
                                    </button>
                                </th>
                            </tr>
                        }
                    </table>
                </section>
                <section class="admin-content-header">
                    <h1 class="admin-page__title">
                        Загрузка фаил
                    </h1>
                </section>
                <section class="admin-content-main">
                    @using (Html.BeginForm("AddPrices", "AdminPrices", FormMethod.Post, new { enctype = "multipart/form-data", @class = "upload-price" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="upload-price__wrapper">
                            <input class="upload-price__input" type="file" name="upload">
                        </div>
                        <div class="upload-price__wrapper">
                            <label class="edit__title">Описание</label><input type="text" name="name" class="input-settings-edit" required="">
                        </div>
                        <div class="upload-price__wrapper">
                            <button type="submit" class="btn btn-success">Загрузить</button>
                            <button type="button" class="btn btn-secondary" onclick="location.reload()">Отмена</button>
                        </div>
                    }
                </section>
            </section>
        </div>
    </main>
</div>