
@{
    ViewBag.Title = "About";
}

<main>
    <section class="about-us">
        <div class="wrapper">
            <h2 class="page-title">@Resources.Resource.about_title</h2>
            <p class="about-us__text">
               @Resources.Resource.about_about
            </p>
            <h3 class="about-us__subtitle">@Resources.Resource.about_org_requisites </h3>
            <table class="about-us__requisites">
                <tbody>
                    <tr>
                        <td>@Resources.Resource.about_org_name1</td>
                        <td>@Resources.Resource.about_org_name2</td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.about_org_address1</td>
                        <td>@Resources.Resource.about_org_address2</td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.about_org_tel</td>
                        <td>
                            <a href="tel:+380675761081">+38 (067) 576 10 81</a>
                            <a href="tel:+380503388348">+38 (050) 33 88 348 </a>
                            <a href="tel:+380682017878">+38 (068) 201 78 78</a>
                            <a href="tel:+38066699788">+38 (066) 699 78 87</a> @Resources.Resource.about_org_tel1<br>
                            <a href="tel:+380673534087">+38 (067) 353 40 87</a>
                            <a href="tel:+380951657070">+38 (095) 165 70 70</a>
                            <a href="tel:+380683037878">+38 (068)303 78 78 </a>
                            <a href="tel:+380503377327">+38 (050)33 77 327</a> @Resources.Resource.about_org_tel2<br>
                            @*<a href="tel:+380951657070">+380 (95) 165 70 70</a>
        <a href="tel:+380673534087">+380 (67) 353 40 87</a> @Resources.Resource.about_org_tel3<br>*@
                            <a href="tel:+380954246215">+38 (095) 42 46 215</a>
                            <a href="tel:+380982019242">+38 (098) 201 92 42</a> @Resources.Resource.about_org_tel4<br>
                            <a href="tel:+380941402802">+380 (94) 140 28 02</a> @Resources.Resource.about_org_tel5<br>
                            <a href="tel:+380951939090">+38 (095) 193 90 90</a> @Resources.Resource.about_org_tel6<br><br>
                            <a href="mailto:tehnotent@tehnotent.dn.ua">tehnotent@tehnotent.dn.ua</a><br>
                            <a href="mailto:kiev@tehnotent.dn.ua">kiev@tehnotent.dn.ua</a><br>
                            <a href="mailto:furnitura@tehnotent.dn.ua">furnitura@tehnotent.dn.ua</a><br>
                            <a href="mailto:tehnotentdn@gmail.com">tehnotentdn@gmail.com</a><br>
                            <a href="mailto:buhgalter@tehnotent.dn.ua">buhgalter@tehnotent.dn.ua</a><br>
                        </td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.about_org_requisites1 </td>
                        <td>
                            @Resources.Resource.about_org_requisites2, <br>
                            @Resources.Resource.about_org_requisites3 UA293355480000026000053614553,<br>
                            @Resources.Resource.about_org_requisites4 335548
                        </td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.about_org_requisites5</td>
                        <td>39468346</td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.about_org_requisites6</td>
                        <td>394683426549</td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.about_org_requisites7</td>
                        <td><a href="/">www.tehnotent.com.ua</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
