
@{
    ViewBag.Title = "About";
}

<main>
    <section class="about-us">
        <div class="wrapper">
            <h2 class="page-title">@Resources.Resource.about_title</h2>
            <p class="about-us__text">
               @Resources.Resource.about_about
            </p>
            <h3 class="about-us__subtitle">@Resources.Resource.about_org_requisites</h3>
            <table class="about-us__requisites">
                <tbody>
                    <tr>
                        <td>@Resources.Resource.about_org_name1</td>
                        <td>@Resources.Resource.about_org_name2</td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.about_org_address1</td>
                        <td>@Resources.Resource.about_org_address2</td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.about_org_tel</td>
                        <td>
                            <a href="tel:+38067576108">+380 (67) 576 10 81</a>
                            <a href="tel:+380503388348">+380 (50) 338 83 48</a> @Resources.Resource.about_org_tel1<br>
                            <a href="tel:+380503377327">+380 (50) 337 73 27</a>
                            <a href="tel:+380683037878">+380 (68) 303 78 78</a> @Resources.Resource.about_org_tel2<br>
                            <a href="tel:+380951657070">+380 (95) 165 70 70</a>
                            <a href="tel:+380673534087">+380 (67) 353 40 87</a> @Resources.Resource.about_org_tel3<br>
                            <a href="tel:+380954246215">+380 (95) 424-62-15</a> @Resources.Resource.about_org_tel4<br>
                            <a href="tel:+380941402802">+380 (94) 140 28 02</a> @Resources.Resource.about_org_tel5<br><br>
                            <a href="mailto:tehnotent@tehnotent.dn.ua">tehnotent@tehnotent.dn.ua</a><br>
                            <a href="mailto:kiev@tehnotent.dn.ua">kiev@tehnotent.dn.ua</a><br>
                            <a href="mailto:furnitura@tehnotent.dn.ua">furnitura@tehnotent.dn.ua</a><br>
                            <a href="mailto:sv-tent@mail.ru">sv-tent@mail.ru</a><br>
                        </td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.about_org_requisites1</td>
                        <td>
                            @Resources.Resource.about_org_requisites2, <br>
                            @Resources.Resource.about_org_requisites3,<br>
                            @Resources.Resource.about_org_requisites4
                        </td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.about_org_requisites5</td>
                        <td>39468346</td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.about_org_requisites6</td>
                        <td>394683426549</td>
                    </tr>
                    <tr>
                        <td>@Resources.Resource.about_org_requisites7</td>
                        <td><a href="/">www.tehnotent.com.ua</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
